*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(241 245 249);
}
.container{
    position: relative;
}
.card{
    width: 350px;
    height: 450px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    
}
.card-img{
    margin-top: 20px;
}
.image{
    border-radius: 50%;
}
h3{
    font-size: x-large;
    padding: 5px 0px;
}
h5{
    color: gray;
    font-size: medium;
    padding-bottom: 5px;
}

p {
    font-size: 14px;
    padding-bottom: 7px;
  }